
body {
  background-color: rgb(253, 230, 201); ;
  background-repeat: repeat;
  margin-right: 10%;
}
#akanForm{
  font-weight: bold;
  float: right;
  margin-top: 10%;


}
.jumbotron {
  background-color: rgb(238, 208, 196);
  height: 300;
  width: 500;
}